<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./parts/page_head.ejs") %>

    <body class="dark-edition">
        <div class="wrapper">
            <%- include('./parts/page_sidebar.ejs') %>
            <div class="main-panel">
                <%- include('./parts/page_navbar.ejs') %>
                <main class="content">
                    <div class="container-fluid">
                        <!-- your content here -->
                    </div>
                </main>
                <%- include('./parts/page_footer.ejs') %>
            </div>
        </div>
        <!--   Core JS Files   -->
        <script src="/plugins/materialDashboard/assets/js/core/jquery.min.js"></script>
        <script src="/plugins/materialDashboard/assets/js/core/popper.min.js"></script>
        <script src="/plugins/materialDashboard/assets/js/core/bootstrap-material-design.min.js"></script>
        <script src="https://unpkg.com/default-passive-events"></script>
        <script src="/plugins/materialDashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="/plugins/materialDashboard/assets/js/material-dashboard.js?v=2.1.0"></script>
    </body>
</html>
